services:

  db:
    image: mongo
    container_name: db
    restart: unless-stopped
    env_file: .env
    environment:
      - MONGO_INITDB_ROOT_USERNAME=$MONGO_USERNAME
      - MONGO_INITDB_ROOT_PASSWORD=$MONGO_PASSWORD
    ports:
      - 27017:27017
    volumes:
      - ./dbdata:/data/db
    networks:
      - default

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    environment:
      - ME_CONFIG_MONGODB_SERVER=db
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
      - ME_CONFIG_MONGODB_ADMINUSERNAME=$MONGO_USERNAME
      - ME_CONFIG_MONGODB_ADMINPASSWORD=$MONGO_PASSWORD
      - ME_CONFIG_BASICAUTH_USERNAME=$MONGO_USERNAME
      - ME_CONFIG_BASICAUTH_PASSWORD=$MONGO_PASSWORD
        #volumes:
        #- ./dbdata
    depends_on:
      - db
        #    networks:
        #- app-network
    ports:
      - 8081:8081
    restart: always

  rabbitmq:
    container_name: "rabbitmq"
    image: rabbitmq:3.8-management-alpine
    environment:
      - RABBITMQ_DEFAULT_USER=$RMQ_USER
      - RABBITMQ_DEFAULT_PASS=$RMQ_PASSWORD
      - RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS=+S 1:1
    ports:
      # AMQP protocol port
      - '5672:5672'
      # HTTP management UI
      - '15672:15672'
    networks:
      - default

networks:
  default:
    external: true
    name: whattowatch_network
volumes:
  dbdata: